*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0;
}
section{
    display: none;
}
aside{
    display:block;
    padding-bottom: 20px;
}
@media (min-width: 768px) {
    section{
        display: block;
    }
    aside{
        display:none;
    }
    .container {
        padding: 0 25px;
    }
}
@media (min-width: 992px) {
    .container {
        padding: 0 100px;
    }
}
@media (min-width: 1200px) {
    .container{
        padding: 0 166px;
    }
}